
body {
    background-image: linear-gradient(to bottom right, rgb(184, 184, 255), black);
}

h1 {
  color: rgb(0, 238, 255);
  text-align: center;
  text-transform: uppercase;
  font-family: cursive;
  margin-bottom: 0px;
}

.calculator {
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
    background-color: aqua;
    width: 500px;
    margin: 0px auto 50px auto;
    padding: 10px;
    border: 3px solid #ffe600;
    border-radius: 5px;
}
  
.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 6px;
}
  
button {
    height: 90px;
    padding: 10px;
    font-size: 40px;
}

.clear {
    background-color: rgb(207, 108, 108);
}
  
#display {
    background-color: rgb(168, 255, 255);
    width: 83%;
    margin-bottom: 10px;
    padding: 40px;
    font-size: 50px;
    color: black;
}
  




